@import'utility.css';
:root{
    --primary:#3dcfd3;
    --dark:#000;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --secondary:#070606;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins,sans-serif;
}
header{
    background: var(--dark);
}
header nav left .brand{
    margin-right: 2rem;
    width: 50px;
    height: 50px;
}
.container{
    padding: 0 15px;
    max-width: 1152px;
    margin: 0 auto;
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .brand{
    margin-right: 3rem;
}
.btn{
    font-weight: 600;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    border: 2px solid transparent;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-secondary{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary);
}
header .container .hero .left img{
    height: 540px;
    width: 1000px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.6rem;
}
.hero .right .h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about.container.me{
    height: 1rem;

}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark);
    line-height: 1.9;
}
section.about .social{
    display: flex;

}
section.about .social a img{
    padding: 1rem 0.5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
section.about .social a img:hover{
    height: 70px;
}
/* section.about.aboutimg img{
    height: 400px;
    width: 400px;
} */
.heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 3rem;
    font-size:xx-large;
    font-weight: 700;
    line-height: 0.5;
}
.heading span{
    color: var(--primary);
}
.wrap .card img{
    height: 300px;
    width: 400px;
    /* margin-left: 3rem; */
}
.wrap .card h2{
    align-items: center;
    justify-content: center;
    /* margin-left: 3rem; */
}
.wrap .card p{
    align-items: center;
    justify-content: center;
    /* margin-left: 3rem;
    margin-right: 3rem; */ */
}
section.services .wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.services{
    background: var(--light);
}
section.services .wrap .card{
    padding: 1rem 1rem;
    margin:1rem 1rem;
    width: 500px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--pure);
    cursor: pointer;
    transition: all 0.3s ease-in;
}
section.services .wrap .card:hover{
    background: var(--dark);
    color: var(--primary);
}
section.intern{

    text-align: center;
    /* background: linear-gradient(rgba(0,0,0,0.7)); */
}
section.contact{
    background-color: var(--light);
}
section.contact.wrap-up{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.wrap-up .box img{
    height: 50px;
    padding: 1rem 1rem;
    width: 50px;
}
.wrap-up .box h2{
    font-size: small;
}
.wrap-up.box{
    padding: 1rem 1rem;
}
section .contact h1{
    margin-bottom: 400px
}